*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: rgba(12, 70, 70, 0.303);
}
h1{
    text-align: center;
}
.first-box,.second-box{
    border:1px solid black;
    margin:10px 50px;
}
.pic-container{
    margin:0 auto;
    display: flex;
    justify-content: center;
    width:70%;
    height: 600px;
    

}
img{
    width: 350px;
    height:350px;
    border-radius:50%;
    text-align: center;
}